<div class="modal fade in alert" id="__confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="height:100%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color:#a72222; font-size: 24px; line-height: 24px;">确认操作</h4>
            </div>
            <div class="modal-body" style="word-break:break-word;word-wrap:break-word;color:#a94442;font-size:20px;font-weight:bold;">
                
            </div>
            <div class="modal-footer" style="padding:5px 15px;">
                <button type="button" class="btn btn-default btn-90" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary btn-danger btn-90" id="confirm-btn">确定</button>
            </div>
        </div>
    </div>
</div>