@{
    ViewData["Title"] = "区县管理";
}
@using Gs.Domain.Enums;
<style>
    .form-inline .col-sm-12 {
        line-height: 55px;
    }

    .form-inline .col-sm-2 {
        width: 80px;
    }

    .form-inline .col-sm-4 .col-sm-4 {
        line-height: 35px;
    }

    .form-inline .control-label {
        text-align: right;
    }

    .search .form-inline {
        line-height: 40px;
    }

    .download-imgbox {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        margin: 0.2rem auto;
    }

    .thumbimg {
        width: 80px;
        height: 80px;
        overflow: hidden;
        position: relative;
        margin: 0.13rem;
    }

        .thumbimg img {
            width: 80px;
            height: 80px;
        }

        .thumbimg span {
            display: block;
            width: 20px;
            height: 20px;
            background: url(/images/del_pic.png) no-repeat center center;
            background-size: 20px 20px;
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgba(255, 255, 255, 0.5);
        }

    #container {
        width: 300px;
        height: 180px;
    }

    .amap-icon img,
    .amap-marker-content img {
        width: 25px;
        height: 34px;
    }

    .marker {
        position: absolute;
        top: -20px;
        right: -118px;
        color: #fff;
        padding: 4px 10px;
        box-shadow: 1px 1px 1px rgba(10, 10, 10, .2);
        white-space: nowrap;
        font-size: 12px;
        font-family: "";
        background-color: #25A5F7;
        border-radius: 3px;
    }

    .csimg {
        width: 80px;
        height: 80px;
        overflow: hidden;
        position: relative;
        margin: 0.13rem;
    }

        .csimg .xuanze {
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
            height: 80px;
            background: url(/images/add_pic.png) no-repeat center center;
            background-size: 100% 100%;
        }
</style>

<div class="row search">
    <div class="form-inline">
        <div class="form-inline">
            <div class="form-inline">
                <label control-label>城市名:</label>
                <input type="text" class="form-control" size="12" ng-model="search.keyword" />
                <label control-label>手机号:</label>
                <input type="text" class="form-control" size="12" ng-model="search.mobile" />
            </div>
        </div>
        <button class="btn btn-primary" type="button" ng-click="pageChanged(true)">搜索</button>
        <button class="btn btn-primary" ng-click="addModal(m)" href="javascript:void(0);">添加区县</button>
    </div>
</div>
<table class="table table-hover table-condensed table-bordered" style="width:auto;">
    <thead>
        <tr style="height:35px;">
            <th style="width: 3%;">序号</th>
            <th style="width: 8%;">昵称</th>
            <th style="width: 6%;">手机号</th>
            <th style="width: 6%;">区县编码</th>
            <th style="width: 5%;">区县名</th>
            <th style="width: 5%;">微信号</th>
            <th style="width: 15%;">有效期</th>
            <th style="width: 5%;">备注</th>
            <th style="width: 5%;">添加时间</th>
            <th style="width: 8%;">操作</th>
        </tr>
    </thead>
    <tbody class="wait-loaded">
        <tr ng-repeat="m in List">
            <td>{{m.cityId}}</td>
            <td>{{m.nick}}</td>
            <td>{{m.mobile}}</td>
            <td>{{m.areaCode}}</td>
            <td>{{m.areaName}}</td>
            <td>{{m.weChat}}</td>
            <td>{{m.startDate | date:'yyyy-MM-dd'}} 至 {{m.endDate | date:'yyyy-MM-dd'}}</td>
            <td>{{m.remark}}</td>
            <td>{{m.createTime}}</td>
            <td>
                <a ng-click="showItem(m)" href="javascript:void(0);">详情</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="mypager wait-loaded">
    <ul uib-pagination total-items="search.recordCount" items-per-page="search.pageSize" ng-change="pageChanged()"
        ng-model="search.pageIndex" max-size="7" class="pagination-sm" boundary-links="true" num-pages="search.numPages"
        boundary-link-numbers="true" first-text="首页" last-text="末页" previous-text="上一页" next-text="下一页"></ul>
    <div class="recordCount">共 {{search.recordCount}} 条</div>
</div>
@* 添加城市 *@
<div class="modal fade in" id="addModel" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="height:100%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
            </div>
            <form name="myForm">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="setting_1">
                        <div class="form-inline">
                            <input class="form-control" type="text" data-ng-model="model1.id" style="display:none;" />
                            <div class="col-sm-12">
                                <label class="control-label col-sm-4">会员:</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="model1.mobile" placeholder="会员手机号" required />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="control-label col-sm-4">微信:</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="model1.weChat" placeholder="" required />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="control-label col-sm-4">区县编码:</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="model1.areaCode" placeholder="" required />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="control-label col-sm-4">区县名称:</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="model1.areaName" placeholder="" required />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="control-label col-sm-4">标记位置:</label>
                                <div class="col-sm-8">
                                    <div id="container"></div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-8">
                                    <input class="form-control" type="number" id="#cityCode" ng-model="model1.userId" style="display: none;" hidden />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="control-label col-sm-4">有效期:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control mydatetimepicker" id="startDate" ng-model="model1.startDate" placeholder="到期时间" />&nbsp;&nbsp;&nbsp;-&nbsp;
                                    <input type="text" class="form-control mydatetimepicker" id="endDate" ng-model="model1.endDate" placeholder="到期时间" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="control-label col-sm-4">备注:</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="model1.remark" placeholder="" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-disabled="model1.$invalid" ng-click="saveItem(model1)">
                    保
                    存
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="ShowImage_Form" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="height:80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div id="img_show" style="text-align:center;">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function showimage(obj) {
            $("#ShowImage_Form").modal("show");
            $("#ShowImage_Form").find("#img_show").html("<img src='" + obj.src + "' class='carousel-inner img-responsive img-rounded' />");
        }
    </script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=62cb309b039fdfed26c40d0e60ac9931"></script>
    <script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>
    <script type="text/javascript">
        $angular.add(function ($scope, $query, $timeout, $sce) {
            $scope.map = new AMap.Map('container', {
                resizeEnable: true,
                center: [116.480983, 39.989628],
                zoom: 8
            });
            $scope.setMarker = function (e) {
                if ($scope.marker) {
                    $scope.marker.setMap(null);
                    $scope.marker = null;
                }
                $scope.marker = new AMap.Marker({
                    icon: "//a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png",
                    position: [e.lnglat.getLng(), e.lnglat.getLat()],
                    offset: new AMap.Pixel(-13, -30)
                });
                $scope.marker.setMap($scope.map);
                $.get("https://restapi.amap.com/v3/geocode/regeo?key=52a3131d6075e118d05cb2d1a2eb8339&location=" + e.lnglat.getLng() + "," + e.lnglat.getLat(), function (res) {
                    if (res.status == 1 && res.info == "OK") {
                        $scope.model1.address = res.regeocode.formatted_address;
                        $scope.model1.areaCode = res.regeocode.addressComponent.adcode;
                        var type = typeof (res.regeocode.addressComponent.city);
                        if (typeof (res.regeocode.addressComponent.district) == "string") {
                            $scope.model1.areaName = res.regeocode.addressComponent.district;
                        } else { $scope.model1.areaName = res.regeocode.addressComponent.province; }
                        $scope.$apply();
                    }
                });
            };
            $scope.map.on("click", $scope.setMarker);

            $scope.search = { pageIndex: 1, pageSize: 20, id: 0 };
            $scope.pageChanged = function (reindex) {
                if (reindex) {
                    $scope.search.pageIndex = 1;
                }
                $query.post("/Partner/List", $scope.search, function (response) {
                    if (response.code === 200) {
                        $scope.List = response.data;
                        $scope.search.recordCount = response.recordCount;
                    } else {
                        $Alert(response.message);
                    }
                });
            };
            $scope.pageChanged();
            $scope.addModal = function (model) {
                $scope.model1 = { doorhead: "", startDate: "2020/01/01", endDate: "2021/01/01", lng: 0, lat: 0, cityCode: "", areaCode: "", address: "" };
                $("#addModel").modal("show");
            };
            $scope.saveItem = function (model) {
                $Confirm("你确定要保存吗?", function () {
                    var arr = [];
                    model.cityCode = "0000";
                    model.startDate = $("#startDate").val();
                    model.endDate = $("#endDate").val();
                    $query.post(`/Partner/Add`, model, res => {
                        if (res.code == 200) {
                            $scope.pageChanged();
                            $("#addModel").modal("hide");
                            $("#editModel").modal("hide");
                        } else {
                            $Alert(res.message);
                        }
                    });
                }, "消息提醒");
            };
            $scope.showItem = function (model) {
                $scope.model1 = model;
                $.get("https://restapi.amap.com/v3/config/district?keywords=" + model.areaName + "&subdistrict=0&key=52a3131d6075e118d05cb2d1a2eb8339", res => {
                    if (res.status == 1 && res.info == "OK") {
                        var gps = res.districts[0].center.split(",");
                        $scope.map = new AMap.Map('container', {
                            resizeEnable: true,
                            center: gps,
                            zoom: 10
                        });
                        $scope.marker = new AMap.Marker({
                            icon: "//a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png",
                            position: gps,
                            offset: new AMap.Pixel(-13, -30)
                        });
                        $scope.marker.setMap($scope.map);
                    }
                });
                $("#addModel").modal("show");
            };

            $(function () {
                $('#startDate').datetimepicker({
                    format: 'YYYY/MM/DD'
                });
            });

            $(function () {
                $('#endDate').datetimepicker({
                    format: 'YYYY/MM/DD'
                });
            });

        });

    </script>

}