@{
    ViewData["Title"] = "量化宝管理";
}
@using Gs.Domain.Enums;
<style>
    .form-inline .col-sm-12 {
        line-height: 55px;
    }

    .form-inline .col-sm-2 {
        width: 80px;
    }

    .form-inline .col-sm-4 .col-sm-4 {
        line-height: 35px;
    }

    .form-inline .control-label {
        text-align: right;
    }

    .search .form-inline {
        line-height: 40px;
    }
</style>

<div class="row search">
    <div class="form-inline">
        <div class="form-inline">
            <div class="form-inline">
                <label control-label>手机号:</label>
                <input type="text" class="form-control" size="12" ng-model="search.mobile" />
                <label control-label>量化宝类型:</label>
                <select class="form-control" style="display:inline-block;width:auto;" ng-model="search.baseId">
                    <option value="" selected>全部量化宝</option>
                    <option ng-repeat="item in t" value="{{item.baseId}}">{{item.baseName}}</option>
                </select>
                <label control-label>量化宝状态:</label>
                <select class="form-control" style="display:inline-block;width:auto;" ng-model="search.state">
                    <option value="" selected>全部</option>
                    <option value="1">正常</option>
                    <option value="0">过期</option>
                </select>
                <label control-label>量化宝来源:</label>
                <select class="form-control" style="display:inline-block;width:auto;" ng-model="search.source">
                    <option value="" selected>全部</option>
                    <option value="1">新人奖励</option>
                    <option value="2">兑换获得</option>
                    <option value="3">系统赠送</option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="button" ng-click="pageChanged(true)">搜索</button>
        <button class="btn btn-primary" type="button" ng-click="AddTaskView()">添加量化宝</button>
    </div>
</div>
<table class="table table-hover table-condensed table-bordered" style="width:auto;">
    <thead>
        <tr style="height:35px;">
            <th style="width: 2%;">序号</th>
            <th style="width: 4%;">昵称</th>
            <th style="width: 3%;">手机号</th>
            <th style="width: 5%;">量化宝名</th>
            <th style="width: 3%;">日产量</th>
            <th style="width: 3%;">总产量</th>
            <th style="width: 5%;">开始时间</th>
            <th style="width: 3%;">剩余周期</th>
            <th style="width: 5%;">过期时间</th>
            <th style="width: 5%;">兑换时间</th>
            <th style="width: 3%;">状态</th>
            <th style="width: 3%;">来源</th>
        </tr>
    </thead>
    <tbody class="wait-loaded">
        <tr ng-repeat="m in List">
            <td>{{m.id}}</td>
            <td>{{m.nick}}</td>
            <td>{{m.mobile}}</td>
            <td>{{m.baseName}}</td>
            <td>{{m.dayOut}}</td>
            <td>{{m.totalOut}}</td>
            <td>{{m.beginDate}}</td>
            <td>{{m.duration}} 天</td>
            <td>{{m.expiryDate}}</td>
            <td>{{m.createTime}}</td>
            <td ng-switch="{{m.state}}">
                <div ng-switch-when="2" style="color:red;">过期</div>
                <div ng-switch-when="1" style="color:green;">正常</div>
                <div ng-switch-when="0" style="color:darkgoldenrod;">失效</div>
            </td>
            <td ng-switch="{{m.source}}">
                <div ng-switch-when="0" style="color:green;">未知</div>
                <div ng-switch-when="1" style="color:darkgoldenrod;">新人赠送</div>
                <div ng-switch-when="2" style="color:red;">兑换量化宝</div>
                <div ng-switch-when="3" style="color:red;">系统奖励</div>
            </td>
        </tr>
    </tbody>
</table>
<div class="mypager wait-loaded">
    <ul uib-pagination total-items="search.recordCount" items-per-page="search.pageSize" ng-change="pageChanged()" ng-model="search.pageIndex" max-size="7"
        class="pagination-sm" boundary-links="true" num-pages="search.numPages" boundary-link-numbers="true" first-text="首页" last-text="末页" previous-text="上一页" next-text="下一页"></ul>
    <div class="recordCount">共 {{search.recordCount}} 条</div>
</div>
<div class="modal fade in" id="TaskView" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="height:80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div style="min-height:300px;">
                    <div style="min-height:300px;">
                        <form name="ModifyUser">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="setting_1">
                                    <div class="form-inline">
                                        <div class="col-sm-12">
                                            <label class="control-label col-sm-2">手机号:</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="text" ng-model="u.mobile" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <label class="control-label col-sm-2">任   务:</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" style="display:inline-block;width:auto;" ng-model="u.taskId" required>
                                                    <option value="" selected>全部</option>
                                                    <option ng-repeat="item in t" value="{{item.baseId}}">{{item.baseName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-10 col-sm-offset-2">
                                                <button class="btn btn-success" ng-click="AddTask(u)" ng-disabled="AddTask.$invalid">提 交</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="ShowImage_Form" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="height:80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div id="img_show" style="text-align:center;">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function showimage(obj) {
            $("#ShowImage_Form").modal("show");
            $("#ShowImage_Form").find("#img_show").html("<img src='" + obj.src + "' class='carousel-inner img-responsive img-rounded' style='max-width:350px; margin: 0 auto;'/>");
        }
    </script>
    <script type="text/javascript">
        $angular.add(function ($scope, $query, $timeout, $sce) {
            $scope.search = { pageIndex: 1, pageSize: 20 };

            $scope.pageChanged = function (reindex) {
                if (reindex) {
                    $scope.search.pageIndex = 1;
                }
                if ($scope.t == null || $scope == undefined) {
                    $query.post("/Mining/SysMinings", null, function (response) {
                        if (response.code === 200) {
                            $scope.t = response.data;
                        }
                    });
                }
                $query.post("/Mining/MiningList", $scope.search, function (response) {
                    if (response.code === 200) {
                        $scope.List = response.data;
                        $scope.search.recordCount = response.recordCount;
                    } else {
                        $Alert(response.message);
                    }
                });
            };
            $scope.RenewTask = function (model) {
                $Confirm("你确定要延期一天吗?", function () {
                    $query.post("/Mining/Extension", model, function (response) {
                        if (response.code === 200) {
                            $scope.pageChanged();
                        } else {
                            $Alert(response.message);
                        }
                    });
                }, "消息提醒");
            }
            $scope.Postpone = function (model) {
                $Confirm("你确定要延期一天吗?", function () {
                    $query.post("/Mining/PostponeTask", model, function (response) {
                        if (response.code === 200) {
                            $scope.pageChanged();
                        } else {
                            $Alert(response.message);
                        }
                    });
                }, "消息提醒");
            }
            $scope.AddTaskView = function () {
                if ($scope.t == null || $scope == undefined) {
                    $query.post("/Mining/SysTaskList", null, function (response) {
                        if (response.code === 200) {
                            $scope.t = response.data;
                        }
                    });
                }
                $scope.u = null;
                $("#TaskView").modal("show");
            }
            $scope.AddTask = function (model) {
                $Confirm("你确定为此会员添加量化宝吗?", function () {
                    $query.post("/Mining/Grant", model, function (response) {
                        if (response.code === 200) {
                            $("#TaskView").modal("hide");
                            $scope.pageChanged();
                        } else {
                            $Alert(response.message);
                        }
                    });
                }, "消息提醒");
            }
            $scope.pageChanged();
        });

    </script>

}